body {
  text-align: center;
}
.container {
  padding: 43px;
  margin: 2px;
}
.title {
  text-align: center;
}

.sec,
.text {
  width: 13%;
  font-size: 20px;
  padding: 8px;
  top: 2rem;
  text-align: center;
  margin: 0px;
}
.durata {
  text-align: center;
}

.add,
.delete,
.start,
.left,
.top,
.right,
.bottom,
.refresh {
  margin-right: 15px;
  margin-left: 15px;
  margin: 12px;
}

.output {
  text-align: center;
  background-color: rgb(247 236 236);
  width: 300px;
  border: 1px solid rgb(17, 17, 17);
  padding: 43px;
}

.grid {
  /* position: absolute; */
  border: 1px solid rgb(17, 17, 17);
  width: 480px;
  height: 300px;
  border: 1px solid rgb(17, 17, 17);
  margin: 15px;
}

.robot {
  position: relative;
  background-color: black;
  height: 30px;
  width: 30px;
  transition-duration: 0.2s;
}

.wrong1 {
  padding: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.random {
  position: relative;
  background-color: rgb(177 73 73);
  height: 30px;
  width: 30px;
  transition-duration: 1s;
}

.refresh {
  display: none;
  margin-left: 45%;
}
